{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "printWidth": 90,
    "vueIndentScriptAndStyle": true
}
