@keyframes fadeUpSmall {
    0% { opacity: 0; transform: translate3d(0,0.5rem, 0); }
    100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes fadeUpMedium {
    0% { opacity: 0; transform: translate3d(0,1rem, 0); }
    100% { opacity: 1; transform: translate3d(0, 0, 0); }
}