:root {
    --grey-900: #111010; // darker
    --grey-800: #3d3f42;
    --grey-700: #7d7f81;
    --grey-600: #a9aaab;
    --grey-500: #bebfc0;
    --grey-400: #d4d4d5;
    --grey-300: #e9eaea;
    --grey-200: #f2f2f2;
    --grey-100: #f9f9fa; // lighter

    --neon-green-600: #00e100;
    --neon-green-500: #00e100;
    --neon-green-400: #9ae200;
    --neon-green-300: #adff00;

    --neon-pink-500: #ff00db;
    --neon-pink-100: #ffe5fb;

    --red-orange-900: #661a00;
    --red-orange-800: #8a2908;
    --red-orange-700: #cc3500;
    --red-orange-500: #FF4200;
    --red-orange-300: #ff7b4d;
    --red-orange-200: #ab6551;

    --plum-700: #361D32;
    --plum-600: #543C52;
    --red-500: #EDD2CB;
    --dusty-rose-300: #EDD2CB;
    --dusty-rose-200: #F1E8E6;

    --cornflower-500: #5577F5;


    // brands
    --aclu-blue-lightest: #d5f2f7;
    --aclu-blue-light: #A3DAE2;
    --aclu-blue: #175FAF;
    --aclu-blue-dark: #130F54;


    // ui
    --background-color: white;
    --text-base-color: black;

    --border-500: #e9eaea;

    --accent-01: #d600ff;

    --name-title-background: black;
    --name-title-background--hover: black;
}